.account {
  align-items: center;
  justify-content: center;
  align-self: center;
  /* background-color: red; */
    /* background-color: brown; */
    /* margin-left: 2in */
  }

  .inputForm{
    /* background-color: aqua; */
    padding-left: 1in
  }
  