.data_container{
    background-color: blue;
    display: flex;
    justify-items: center;
    align-items: center;
}

.input_element{
    width: 18%;
    height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    justify-content: center;
    padding: 5px;
}

.button{
    width: 10%;
    background-color: #83C87A;
    height: 45;
    margin-bottom: 5px;
    margin-top: 5px;
    justify-content: center;
    padding: 5px;
}